.section-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.contenedor{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    margin: 20px;
}

.contenedor .contact-info{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background-color: #454E9E;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
    justify-content: space-between;
    color: #F0EDED;
}

.contenedor .contact-info ul.info{
    position: relative;
    padding-left: 0px;
}

.contenedor .contact-info ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 25px 0;
    cursor: pointer;
    align-items: flex-start;
    
}

.contenedor .contact-info ul.info span{
    padding-left: 10px;
}

.contenedor .contact-info ul.social{
    position: relative;
    display: flex;
    padding-left: 0px;
}

.contenedor .contact-info ul.social li{
    position: relative;
    list-style: none;
    margin-right: 15px;
}

.contenedor .contact-info ul.social li a{
    text-decoration: none;
    color: #F0EDED;
}

.contenedor .contact-form{
    position: absolute;
    padding: 50px 50px;
    padding-left: 200px;
    margin-left: 175px;
    background-color: #FFFFFF;
    height: 100%;
    width: calc(100% - 150px);
}

.contenedor .contact-form .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
 }

.contenedor .contact-form .formBox .inputBox{
   position: relative;
   margin-bottom: 25px;
}

.contenedor .contact-form .formBox .inputBox.w50{
   width: 45%;
}

.contenedor .contact-form .formBox .inputBox.w100{
    width: 100%;
 }

 .contenedor .contact-form .formBox .inputBox input,
 .contenedor .contact-form .formBox .inputBox textarea,
 .contenedor .contact-form .formBox .inputBox select
 {
    width: 100%;
    resize: none;
    color: #333;
    border:none;
    outline: none;
    border-bottom: 1px solid #777;
    font-family: 'poppins-extra-light';
    margin-bottom: 20px;
 }

 .contenedor .contact-form .formBox .inputBox span{
     position: absolute;
     left: 0;
     pointer-events: none;
     transition: 0.3s;
     font-family: 'poppins-light';
 }

 .contenedor .contact-form .formBox .inputBox input:focus ~ span,
 .contenedor .contact-form .formBox .inputBox input:valid ~ span,
 .contenedor .contact-form .formBox .inputBox textarea:focus ~ span,
 .contenedor .contact-form .formBox .inputBox select:focus ~ span,
 .contenedor .contact-form .formBox .inputBox textarea:valid ~ span,
 .contenedor .contact-form .formBox .inputBox select:valid ~ span
 {
    transform: translateY(-20px);
    font-size: 12px;
    letter-spacing: 1;
    color: #454E9E;
}

.contenedor .contact-form .formBox .inputBox select {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    resize: none;
    color: #333;
    border:none;
    outline: none;
    border-bottom: 1px solid #333;
}

.contenedor .contact-form .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #454E9E;
    color: white;
    max-width: 150px;
    padding: 12px;
    border: none;
}

.contenedor .contact-form .formBox .inputBox input[type="submit"]:hover{
    background: #555fc0;
}

/* media queries - formulario responsivo */

@media (max-width : 1200px){
    .contenedor{
        width: 90%;
        min-width: auto;
        margin: 20px;
    }

    .contenedor .contact-info{
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }

    .contenedor .contact-form{
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
    }
}

@media (max-width:991px){
    .contenedor{
        display: flex;
        flex-direction: column-reverse;
    }

    .contenedor .contact-info{
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .contenedor .contact-info ul.info{
        padding-left: 0;
    }

    .contenedor .contact-info ul.social{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contenedor .contact-form{
       width: 100%;
       height: auto;
    }
    
}

@media (max-width:600px){
    
    .contenedor .contact-info{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .contenedor .contact-info ul.social{
        margin-top: 40px;
    }

    .contenedor .contact-form{
       padding: 25px;
    }

    .contenedor .contact-form .formBox .inputBox.w50{
        width: 100%;
    }
}